/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: rgb(3, 3, 3);
}

#logo {
    position: sticky;
    top: 10px;
    left: 10px;
    width: 250px;
    height: auto;
    display: block;
    z-index: 999; /* Ensures the logo stays above other content */
}

#content-top {
  position: sticky;
  top: 0px; /* Adjust this value according to your logo's height */
  left: 300px;
  width: 100%; /* To make it span the full width */
  max-width: 700px;;
  background-color: #ffffff; /* Change this to your desired background color */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow */
  z-index: 998; /* Ensures the content-top stays below the logo */
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #E30613;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    background-color: #575656;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    min-width: 80px;  /* Definir a largura mínima desejada para as colunas */
}

th {
    background-color: #f2f2f2;
    color: #575656;
}

.hora-editavel {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

/**/
.popup {

    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 25%;
    top: 25%;
    width: 20%;
    height: 100%;
    overflow: auto;
    /*background-color: rgba(0,0,0,0.4);*/
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adicione sombra para destacar o popup */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #thcolor {
    color: #575656;
  }

  #tdlg{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    min-width: 30%;
  }
  #editlg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
  