/* Estilos CSS */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  /*color: rgb(3, 3, 3);*/
  color: #575656;
}

#logo {
  position: sticky;
  top: 10px;
  left: 10px;
  width: 250px;
  height: auto;
  display: block;
  z-index: 999; /* Ensures the logo stays above other content */
}

/* Estilo para centralizar o título */
#header {
text-align: center; /* Centraliza o texto horizontalmente */
margin: 0 auto; /* Centraliza horizontalmente */
max-width: 80%; /* Largura máxima para manter o alinhamento */
color: white;
}

/* Estilo para centralizar os botões */
.buttons-container {
display: flex; /* Ativa o flexbox */
justify-content: center; /* Centraliza os itens horizontalmente */
margin: 20px auto; /* Centraliza e adiciona um espaçamento superior e inferior */
max-width: 80%; /* Largura máxima para manter o alinhamento */
}

#content-top {
position: fixed;
top: 0;
left: 50%; /* Move o elemento para o centro da janela de visualização */
transform: translateX(-50%); /* Centraliza horizontalmente */
width: 100%;
max-width: 900px;
background-color: #E30613;
padding: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 998;
text-align: center; /* Centraliza os elementos dentro de #content-top */
}

#content-top button {
margin: 5px; /* Adiciona espaçamento entre os botões */
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #E30613;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 50px;
}

#penasdicionar{
width: 150px;
height: 150px;
margin: 5px;
padding: 10px;
cursor: pointer;
background-color: #E30613;
color: white;
border: 2px solid white;
border-radius: 50px;
margin-bottom: 50px;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  min-width: 80px;  /* Definir a largura mínima desejada para as colunas */
  color: #575656;
}

th {
  background-color: #f2f2f2;
  color: #575656;
}

.hora-editavel {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
/* Estilizando checkboxes */
input[type="checkbox"] {
/* Escondendo a checkbox padrão */
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
/* Definindo um tamanho padrão para a checkbox */
width: 20px;
height: 20px;
/* Definindo o fundo branco */
background-color: white;
/* Adicionando uma borda */
border: 1px solid #ccc;
/* Definindo um cursor personalizado */
cursor: pointer;
/* Posicionando o texto ao lado da checkbox */
vertical-align: middle;
margin-right: 5px; /* Espaço entre a checkbox e o texto */
}

/* Estilizando a marcação quando a checkbox está marcada */
input[type="checkbox"]:checked::before {
/* Adicionando um visto vermelho */
content: "\2713"; /* Código unicode para visto */
color: red; /* Cor do visto */
font-size: 25px; /* Tamanho do visto */
line-height: 20px; /* Alinhamento vertical */
}

/**/
.popup {

  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 25%;
  top: 25%;
  width: 20%;
  height: 100%;
  overflow: auto;
  /*background-color: rgba(0,0,0,0.4);*/
  z-index: 9999;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adicione sombra para destacar o popup */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#thcolor {
  color: #575656;
}

#tdlg{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  min-width: 30%;
}

#editlg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#editlg:hover {
  animation: spin 1s linear infinite; /* Adiciona a animação ao passar o mouse */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Define o ponto inicial da rotação */
  }
  100% {
    transform: rotate(360deg); /* Define o ponto final da rotação */
  }
}

#tabela thead {
  position: sticky;
  top: 110px; /* Adjust this value according to your header's height */
  background-color: #ffffff; /* Change this to your desired background color */
  z-index: 999; /* Ensures the header stays above other content */
}

#menu {
  position: fixed;
  top: 50%; /* Ajuste a altura conforme necessário */
  right: 0;
  transform: translateY(-50%);
  width: auto; /* Defina a largura da sua div */
  height: auto;
  height: 50px;
  background-color: #f0f0f0; /* Cor de fundo opcional */
  padding: 10px; /* Espaçamento interno opcional */
  /*background-color: #E30613;*/
  text-align: center;
}

#clock {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #E30613;
  color: white;
  padding: 30px;
  border-radius: 50px;
  font-size: 38px;
  text-align: right; /* Alinhamento do texto à direita */
}